[tool.poetry]
name = "pybiscus"
version = "0.4.0"
description = "A flexible Federated Learning framework"
authors = ["Baptiste MORISSE <baptiste.morisse@thalesgroup.com>"]
packages = [
    {include = "src"}
]

[tool.poetry.scripts]
pybiscus_app = "src.main:app"

[tool.poetry.dependencies]
python = ">=3.9, <3.10, !=3.9.7"
flwr = ">=1.0, <2.0"
numpy = ">=1.24.1,<1.26.0"
typing_extensions = "^4.0"
rich = "^13.4.2"
typer = {extras = ["all"], version = "^0.9.0"}
torch = "==2.0.0"
torchmetrics = "^0.10"
# lightning = {extras = ["all"], version = "^2.0.6"}
lightning = {extras = ["pytorch-extra"], version = "^2.0.6"}
torchvision = "<0.15.2"
einops = "^0.6.1"
tensorboard = "^2.14.1"
deepspeed = "==0.9.0"
pydantic = "2.1.1"

[tool.poetry.group.dev-dependencies.dependencies]
black = "<23.0"
ruff = "^0.0.278"
sphinx = "^7.1.2"
isort = "^5.12.0"
docformatter = {extras = ["tomli"], version = "^1.7.5"}
# pytest = "==7.0.0"


[tool.poetry.group.docs-dependencies.dependencies]
mkdocs = "^1.5.3"
mkdocstrings = {extras = ["python"], version = "^0.23.0"}
mkdocs-material = "^9.4.6"

[tool.ruff]
# Enable Pyflakes (`F`) and a subset of the pycodestyle (`E`)  codes by default.
# Unlike Flake8, Ruff doesn't enable pycodestyle warnings (`W`) or
# McCabe complexity (`C901`) by default.
select = ["E4", "E7", "E9", "F", "UP"]
ignore = []

# Allow fix for all enabled rules (when `--fix`) is provided.
fixable = ["ALL"]
unfixable = []

# Exclude a variety of commonly ignored directories.
exclude = [
    ".bzr",
    ".direnv",
    ".eggs",
    ".git",
    ".git-rewrite",
    ".hg",
    ".mypy_cache",
    ".nox",
    ".pants.d",
    ".pytype",
    ".ruff_cache",
    ".svn",
    ".tox",
    ".venv",
    "__pypackages__",
    "_build",
    "buck-out",
    "build",
    "dist",
    "node_modules",
    "venv",
]
per-file-ignores = {}

# Same as Black.
line-length = 88

# Allow unused variables when underscore-prefixed.
dummy-variable-rgx = "^(_+|(_+[a-zA-Z0-9_]*[a-zA-Z0-9]+?))$"

# Assume Python 3.8
target-version = "py39"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
